@import "../vars";

.card_list {
  padding: 0;
  width: 300px;

  list-style-type: none;

  &__item {
    position: relative;

    color: $colors_quaternary;
    font-weight: bold;

    margin: 15px;

    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));

    &:hover &__background {
      width: 85%;

      border-radius: 7px 0 0 7px;
    }

    &__background {
      width: 100%;
      height: 100%;
      background: $colors_primary;
      padding: 10px 20px;

      border-radius: 7px;

      transition: all 0.05s linear;
    }

    &__delete-button {
      position: absolute;

      right: 0;
      top: 0;
      bottom: 0;

      border: 0;
      background: $danger;

      z-index: -1;

      width: 15%;
      padding: 0;

      color: white;
      font-weight: bold;

      border-radius: 0 7px 7px 0;
    }
  }

  & &__new-entry-input {
    border: none;
    border-radius: 7px;

    background: transparent;
    background: $colors_primary;

    padding: 10px 20px;

    width: 100%;

    &,
    &::placeholder {
      font-weight: bold;
      color: $colors_quaternary;
    }
  }
}
