@import "../vars";

$_size: 205px;

.card {
  width: $_size;
  height: $_size * 1.4;

  margin: $_size / 20;

  &__inner {
    width: 100%;
    height: 100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &[data-flipped="yes"] &__inner {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    height: 100%;
    width: 100%;

    background-color: $colors_quaternary;
    backface-visibility: hidden;

    color: white;
    font-weight: bold;
    font-size: 1.5em;

    position: absolute;

    border-radius: $_size / 10;

    padding: $_size / 20;
  }

  &__front {
    // We only actually need this on one side.
    // Adding it on the card itself makes it glitchy
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.75));
  }

  &__back {
    background-image: url("/playingcard.jpg");
    background-size: 100% 100%;

    transform: rotateY(180deg);
  }

  &__content {
    height: 100%;

    position: relative;

    display: flex;
  }

  &__score {
    margin: auto;

    font-size: 3em;
  }

  &__corner {
    margin: 5px;

    position: absolute;

    &:last-of-type {
      bottom: 0;
      right: 0;

      transform: scale(-1);
    }
  }
}
