// https://coolors.co/f2f6d0-d0e1d4-d9d2b6-e4be9e-71697a
$colors_background: #f2f6d0 !default;
$colors_primary: #d0e1d4 !default;
$colors_secondary: #d9d2b6 !default;
$colors_tertiary: #e4be9e !default;
$colors_quaternary: #71697a !default;

$success: #79af85;
$warning: #e7c3a1;
$danger: #e7a7a1;
